* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}

h2 {
  color: var(--color-blue);
  font-size: var(--small-size);
  margin-left: 3rem;
  text-align: start;
}
@media (max-width: 400px) {
  h2 {
    display: none;
  }
}

h1 {
  font-size: var(--hight-size);
  color: var(--color-blue);
  font-weight: 600;
  margin: 6rem 0;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: var(--medium-size);
  text-align: center;
  color: var(--color-blue);
}

h4 {
  font-size: var(--normal-size);
  text-transform: uppercase;
  color: var(--color-white);
  text-decoration: underline;
}

h5 {
  font-size: var(--normal-size);
  text-transform: uppercase;
  color: var(--color-white);
}

p {
  font-size: var(--smaller-size);
}
@media (max-width: 400px) {
  p {
    padding: 0 2rem;
  }
}

.svg_admin_orange {
  fill: var(--color-orange);
}

.svg_admin_blue {
  fill: var(--color-blue);
}

.st0 {
  fill: var(--color-blue);
}

.st1 {
  fill: var(--color-orange);
}

.st2 {
  fill: var(--color-yellow);
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 165px;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  background: var(--color-dark);
  transition: left 300ms;
  overflow-y: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.sidebar .side-header {
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.1);
  background: var(--color-orange);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .side-header h3 {
  color: #fff;
  font-weight: 400;
}
.sidebar .side-content {
  height: calc(100vh - 60px);
  overflow: auto;
}
.sidebar .side-content .profile {
  text-align: center;
  padding: 4rem 0rem;
}
.sidebar .side-content .profile .bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-size: cover;
}
.sidebar .side-content .profile .profile-img {
  height: 80px;
  width: 80px;
  display: inline-block;
  margin: 0 auto 2rem auto;
  border: 3px solid #899dc1;
}
.sidebar .side-content .side-menu ul {
  text-align: center;
}
.sidebar .side-content .side-menu a {
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;
  gap: 1rem;
}
.sidebar .side-content .side-menu a small {
  font-size: 1.6rem;
}
.sidebar .side-content .side-menu a span {
  display: block;
  text-align: center;
}
.sidebar .side-content .side-menu a.active {
  background: #2b384e;
}
.sidebar .side-content::-webkit-scrollbar {
  width: 5px;
}
.sidebar .side-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.sidebar .side-content::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 10px;
}
.sidebar .side-content::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.side-menu a.active span,
.side-menu a.active small {
  color: #fff;
}

.side-menu a span,
.side-menu a small {
  color: #899dc1;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    left: -165px;
    z-index: 90;
  }
}
.actions {
  display: flex;
  gap: 1.3rem;
}

.main-content {
  margin-left: 165px;
  width: calc(100% - 165px);
  transition: margin-left 300ms;
}

main {
  margin-top: 60px;
}
main .page-header h1 {
  margin-top: 3rem;
}
main .page-content {
  padding: 1.3rem 1rem;
  background: #f1f4f9;
}

.records {
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 3px;
}

.record-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.record-header .add button {
  background: var(--color-blue);
  color: #fff;
  height: 37px;
  border-radius: 4px;
  padding: 0rem 1rem;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add,
.browse {
  display: flex;
  align-items: center;
}

.add span {
  display: inline-block;
  margin-right: 0.6rem;
  font-size: 0.9rem;
  color: #666;
}

input,
button,
select {
  outline: none;
}

.add select,
.browse input,
.browse select {
  height: 35px;
  border: 1px solid #b0b0b0;
  border-radius: 3px;
  display: inline-block;
  width: 75px;
  padding: 0rem 0.5rem;
  margin-right: 0.8rem;
  color: #666;
}

.browse input {
  width: 150px;
}

.browse select {
  width: 100px;
}

.table-responsive {
  width: 100%;
  overflow: auto;
}

table {
  border-collapse: collapse;
}
table thead tr {
  background: #e9edf2;
}
table thead th {
  padding: 1rem 0rem;
  text-align: left;
  color: #444;
  font-size: 1.3rem;
}
table tbody td {
  padding: 1rem 0rem;
  color: #444;
  font-size: 1.3rem;
}
table tr {
  border-bottom: 1px solid #dee2e8;
}

.btn {
  background-color: transparent;
}

table thead th:first-child {
  padding-left: 1rem;
}

table tbody td:first-child {
  padding-left: 1rem;
  color: var(--color-blue);
  font-weight: 600;
  font-size: 1.5rem;
}

.client {
  display: flex;
  align-items: center;
}
.client .client-img {
  margin-right: 0.5rem;
  border: 2px solid #b0b0b0;
  height: 45px;
  width: 45px;
}
.client .client-info h4 {
  color: #555;
  font-size: 1.3rem;
}
.client .client-info small {
  color: #777;
}

@media only screen and (max-width: 768px) {
  .main-content {
    margin-left: 0;
    width: 100%;
  }
  table {
    width: 900px;
  }
}
.green {
  color: green;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  left: 165px;
  z-index: 100;
  height: 60px;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: left 300ms;
}
header .header-content {
  justify-content: space-between;
  padding: 0rem 1rem;
}
header .header-content label {
  cursor: pointer;
}

.header-content,
.header-menu {
  display: flex;
  align-items: center;
}

.header-content label:first-child span {
  font-size: 1.3rem;
}

.header-menu {
  justify-content: flex-end;
  padding-top: 1rem;
}
.header-menu .user {
  display: flex;
  gap: 2rem;
}
.header-menu .user .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user div,
.client-img {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}

.user span:last-child {
  display: inline-block;
  margin-left: 0.3rem;
  font-size: 2rem;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .sidebar {
  width: 60px;
}

#menu-toggle:checked ~ .sidebar .side-header span {
  display: none;
}

#menu-toggle:checked ~ .main-content {
  margin-left: 60px;
  width: calc(100% - 60px);
}

#menu-toggle:checked ~ .main-content header {
  left: 60px;
}

#menu-toggle:checked ~ .sidebar .profile,
#menu-toggle:checked ~ .sidebar .side-menu a small {
  display: none;
}

#menu-toggle:checked ~ .sidebar .side-menu a span {
  font-size: 1.3rem;
}

@media only screen and (max-width: 768px) {
  header {
    left: 0;
    width: 100%;
  }
  #menu-toggle:checked ~ .sidebar {
    left: 0;
  }
  #menu-toggle:checked ~ .sidebar {
    width: 165px;
  }
  #menu-toggle:checked ~ .sidebar .side-header span {
    display: inline-block;
  }
  #menu-toggle:checked ~ .sidebar .profile,
  #menu-toggle:checked ~ .sidebar .side-menu a small {
    display: block;
  }
  #menu-toggle:checked ~ .sidebar .side-menu a span {
    font-size: 1.7rem;
  }
  #menu-toggle:checked ~ .main-content header {
    left: 0px;
  }
}
.user_arry {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_user {
  padding: 0 10px;
  width: 50%;
}
@media (max-width: 768px) {
  .main_user {
    width: 100%;
  }
}
.main_user h2 {
  font-size: var(--medium-size);
  margin-bottom: 3rem;
}
.main_user .card {
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0 grey;
  padding: 20px 0 20px 50px;
}
.main_user .card table {
  width: 80%;
  height: 300px;
}
@media (max-width: 768px) {
  .main_user .card table {
    width: 100%;
  }
}
.main_user .card .card-body {
  position: relative;
}
.main_user .card .card-body .edit {
  position: absolute;
  color: var(--color-blue);
  right: 3rem;
  top: 2rem;
  cursor: pointer;
  font-size: var(--medium-size);
}

input,
button {
  appearance: none;
  outline: none;
}

input::-webkit-input-placeholder {
  color: transparent;
  user-select: none;
}

input::-moz-placeholder {
  color: transparent;
  user-select: none;
}

input:-moz-placeholder {
  color: transparent;
  user-select: none;
}

input:-ms-input-placeholder {
  color: transparent;
  user-select: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #fff inset;
  -webkit-text-fill-color: inherit;
}

input {
  flex: 1;
  width: 100%;
  transition: width 0.18s ease;
}
input .input__container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 40px;
  width: 100%;
}

.input__label {
  position: absolute;
  padding: 0 8px;
  top: 0;
  color: #3d3c48;
  cursor: text;
  font-size: 16px;
  transition-property: top, font-size;
  transition-timing-function: linear;
  transition-duration: 0.18s;
}

.input__field {
  background: transparent;
  border: 0px solid #e5e5e6;
  border-bottom-width: 2px;
  padding: 6px 8px;
  font-size: 16px;
  transition: border 0.28s ease-out;
}

.input__field:required + .input__label:after {
  content: "*";
  color: red;
}

.input__field:focus,
.input__field:not(:placeholder-shown) {
  border-color: #434176;
}

.input__field:focus + .input__label,
.input__field:not(:placeholder-shown) + .input__label {
  font-size: 14px;
  top: -16px;
}

.input:hover .input__field:placeholder-shown:not(:focus) {
  border-color: #918fc1;
}

.btn {
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  will-change: background, box-shadow;
  transition: background 0.28s ease-out, box-shadow 0.28s ease-out;
}

.btn--regular,
.btn--line {
  padding: 16px 56px;
}

.btn--disabled {
  opacity: 0.4;
  pointer-events: none;
}

.component--primary .btn:disabled {
  opacity: 0.7;
  pointer-events: none;
}

.component--primary .btn--regular {
  background-color: #434176;
  color: #fff;
}

.component--primary .btn--regular:hover {
  background-color: #6361a8;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.component--primary .btn--regular:focus,
.component--primary .btn--regular:active {
  background-color: #34335c;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.component--primary .btn--regular:disabled {
  background-color: #5c5c5c;
}

.link {
  text-decoration: none;
  color: #434176;
  display: inline-block;
  text-decoration: underline;
  transition: color 0.28s ease-out;
}

.link:hover {
  color: #161627;
}

.form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.form__row {
  margin-bottom: 40px;
}

.form__row--two {
  margin: 0 -16px 0px;
}

@media screen and (min-width: 500px) {
  .form__row--two {
    display: flex;
  }
}
.form__inline-input {
  padding: 0 16px;
  margin-bottom: 40px;
}

@media screen and (min-width: 500px) {
  .form__inline-input {
    width: 50%;
    flex: 1 0 auto;
  }
}
.form__button {
  text-align: center;
  cursor: pointer;
}

#sign-up-button {
  background: #434176;
}

#sign-up-button:hover {
  color: #434176;
  transition: 0.5s;
  background: #fff;
  border: 1px solid #434176;
}

.sign-up {
  min-height: 1000px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 400px;
}

.sign-up__image,
.sign-up__content {
  flex: 1;
}

@media screen and (min-width: 1000px) {
  .sign-up__image {
    display: block;
  }
}
.sign-up__content {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 4vh 24px 10vh;
  background-color: #fff;
  width: 600px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px;
}

.sign-up__form {
  width: 100%;
}

.sign-up__sign,
.sign-up__terms {
  text-align: center;
  margin-bottom: 20px;
}

.sign-up__sign {
  margin-top: -8px;
}

.sign-up__terms {
  margin-top: 80px;
}

/*# sourceMappingURL=base-admin.css.map */
