@import "reset";
@import "header";
@import "mixins";

.contactUs {
  position: relative;
  width: 100%;
  padding: 0px 100px;
  margin-top: 8rem;

  .title {
    @include flex-jccenter-ai-center;
  }
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas:
    "form info"
    "form map";
  grid-gap: 20px;
  margin-top: 20px;
}

.contact {
  padding: 40px;
  box-shadow: 0 5px 35px rgb(0, 0, 0, 0.15);

  h3 {
    color: #0e3959;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.formBox {
  position: relative;
  width: 100%;

  .row50 {
    display: flex;
    gap: 20px;

    .inputBox {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      width: 100%;
    }
  }

  label {
    color: var(--color-blue);
    font-size: 1.4rem;
  }

  input {
    padding: 10px;
  }

  textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
  }

  .submit {
    background-color: var(--color-blue);
    color: #fff;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 2px;
  }
}

.row100 .inputBox {
  width: 100%;
}

.info {
  background-color: #0e3959;

  h3 {
    color: #fff;
    font-size: var(--medium-size);
  }

  .infoBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin: 3rem 0;

    span {
      min-width: 40px;
      height: 40px;
      color: #fff;
      background: var(--color-blue);
      @include flex-jccenter-ai-center;
      border-radius: 50%;
      margin-right: 15px;
    }

    a {
      font-size: 1.5rem;
    }
  }
}

.map {
  padding: 0;

  iframe {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 991px) {
  .contactUs {
    padding: 20px;
  }

  .box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "form" "info" "map";
  }

  .map {
    min-height: 300px;
  }

  .formBox .inputBox {
    width: 100%;
  }

  .contact {
    padding: 30px;
  }
}
