<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Accueil
			{% endblock %}
			- Sarpgn
		</title>

{# Le lien de la font #}
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">


		{# On importe le fichier conteant les variables scss #}

		{% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('assets/css/variables.css') }}">

	</head>
	<body>
{# On importe la navbar dans ce fichier de façon à ce qu'elle soit présentes dans chaque page qui extend base.html.twig#}
		{% include "Components/nav.html.twig" %}

		{# On importe la div slide dans ce fichier #}
		{% block body %}
			<div class="slide"></div>
		{% endblock %}


{# On importe la footer dans ce fichier de façon à ce qu'elle soit présentes dans chaque page qui extend base.html.twig#}
		{% block footer %}
			{% include "Components/footer.html.twig" %}
		{% endblock %}


		{% block javascripts %}{% endblock %}

		<!-- Fichiers JS -->
{# On importe le JS dans ce fichier de façon à ce qu'il soit présentes dans chaque page qui extend base.html.twig#}

		<script src="{{ asset('assets/js/script.js')}}">
			defer</script>
	</body>
</html>
