<input type="checkbox" id="menu-toggle">
<div class="sidebar">
	<div class="side-header">
		<h3>S<span>ARPGN</span>
		</h3>
	</div>

	<div class="side-content">
		<div class="profile">
			<div class="profile-img bg-img"></div>
			{% if app.user %}
				{% if is_granted ('ROLE_ADMIN') %}
					<h4>Administrateur</h4>
				{% else %}
					<h4>{{user.prenom}}</h4>
				{% endif %}
			{% endif %}

		</div>

		<div class="side-menu">
			<ul>
				<li>
					<a href="" class="active">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" width="25px" height=" 25px" class="svg_admin_orange"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"/></svg>
						</span>
						{% if app.user %}
				{% if is_granted ('ROLE_ADMIN') %}
					<small>Utilisateurs</small>
				{% else %}
				<small>Votre profil</small>
				{% endif %}
			{% endif %}
					</a>
				</li>
				<li>
					<a href="">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512" width="25px" height=" 25px" class="svg_admin_orange"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V428.7c-2.7 1.1-5.4 2-8.2 2.7l-60.1 15c-3 .7-6 1.2-9 1.4c-.9 .1-1.8 .2-2.7 .2H240c-6.1 0-11.6-3.4-14.3-8.8l-8.8-17.7c-1.7-3.4-5.1-5.5-8.8-5.5s-7.2 2.1-8.8 5.5l-8.8 17.7c-2.9 5.9-9.2 9.4-15.7 8.8s-12.1-5.1-13.9-11.3L144 381l-9.8 32.8c-6.1 20.3-24.8 34.2-46 34.2H80c-8.8 0-16-7.2-16-16s7.2-16 16-16h8.2c7.1 0 13.3-4.6 15.3-11.4l14.9-49.5c3.4-11.3 13.8-19.1 25.6-19.1s22.2 7.8 25.6 19.1l11.6 38.6c7.4-6.2 16.8-9.7 26.8-9.7c15.9 0 30.4 9 37.5 23.2l4.4 8.8h8.9c-3.1-8.8-3.7-18.4-1.4-27.8l15-60.1c2.8-11.3 8.6-21.5 16.8-29.7L384 203.6V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM549.8 139.7c-15.6-15.6-40.9-15.6-56.6 0l-29.4 29.4 71 71 29.4-29.4c15.6-15.6 15.6-40.9 0-56.6l-14.4-14.4zM311.9 321c-4.1 4.1-7 9.2-8.4 14.9l-15 60.1c-1.4 5.5 .2 11.2 4.2 15.2s9.7 5.6 15.2 4.2l60.1-15c5.6-1.4 10.8-4.3 14.9-8.4L512.1 262.7l-71-71L311.9 321z"/></svg>
						</span>
						<small>Vos contrats</small>
					</a>
				</li>
				<li>
					<a href="">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512" width="25px" height=" 25px" class="svg_admin_orange"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96zM252 160c0 11 9 20 20 20h44v44c0 11 9 20 20 20s20-9 20-20V180h44c11 0 20-9 20-20s-9-20-20-20H356V96c0-11-9-20-20-20s-20 9-20 20v44H272c-11 0-20 9-20 20z"/></svg>
						</span>
						<small>Assurances</small>
					</a>
				</li>
				{# <li><a href=""><span class="las la-clipboard-list"></span><small>Mailboxs</small></a></li>
																																																																																																																				<li><a href=""><span class="las la-shopping-cart"></span><small>Orders</small></a></li>
																																																																																																																				<li><a href=""><span class="las la-tasks"></span><small>Tasks</small></a></li> #}
			</ul>
		</div>
	</div>
</div>